<div class='panel panel-primary'>
    <div class='panel-heading'>
        Employee Management
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addUser()">Add</button></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../../../wwwroot/dist/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='User && User.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='User && User.length'>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of User">
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.gender}}</td>
                        <td>{{user.address}}</td>                       
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editUser(user.userID)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteUser(user.userID)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(userFrm)" [formGroup]="userFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <div>
                    <span>Role*</span>
                    <select formControlName="roleID" class="form-control" placeholder="-Select Role-">
                        <option *ngFor="let role of roles" value="{{role.roleID}}">{{role.roleName}}</option>
                    </select>
                </div>
                <div>
                    <span>First name*</span>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
                </div>
                <div>
                    <span>Last name</span>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
                </div>
                <div>
                    <span>Gender*</span>
                    <select formControlName="gender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div>
                    <span>Technologies</span>
                    <select formControlName="technology" class="form-control" placeholder="-Select Technology-">
                        <option *ngFor="let technology of technologies" value="{{technology.technologyID}}">{{technology.technologyName}}</option>
                    </select>
                </div>
                <div>
                    <span>Experience*</span>
                    <select formControlName="experienceID" class="form-control">
                        <option *ngFor="let experience of experiences" value="{{experience.experienceID}}">{{experience.experienceRange}}</option>                       
                    </select>
                </div>
                <div>
                    <span>Phone No*</span>
                    <input type="text" class="form-control" placeholder="Phone No" formControlName="phoneNo">
                </div>
                <div>
                    <span>Email*</span>
                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                </div>
                <div>
                    <span>Password*</span>
                    <input type="text" class="form-control" placeholder="Password" formControlName="password">
                </div>
                <!--<div>
        <span>Confirm Password*</span>
        <input type="text" class="form-control" placeholder="Confirm Password" formControlName="ConfirmPassword">
    </div>-->
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="userFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>