<div class='panel panel-primary'>
    <div class='panel-heading'>
        Role Management
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addRole()">Add</button></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../../../wwwroot/dist/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='roles && roles.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='roles && roles.length'>
                <thead>
                    <tr>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles">
                        <td>{{role.roleName}}</td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editRole(role.roleID)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteRole(role.roleID)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
        <!--<router-outlet></router-outlet>-->
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(roleForm)" [formGroup]="roleForm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <div>
                    <span>Role*</span>
                    <input type="text" class="form-control" placeholder="Role" formControlName="roleName">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="roleForm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>
