<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LetsConnect.WebApp</title>
    <base href="~/" />

    @*<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />*@
    <link href="~/dist/Theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/dist/Theme/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/dist/Theme/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/dist/Theme/css/sb-admin.min.css" rel="stylesheet" />
    @*<link href="~/SocialWall/inc/layout.css" rel="stylesheet" />*@
    <link href="~/SocialWall/css/dcsns_wall.css" rel="stylesheet" />
    <script src="~/dist/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/dist/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/dist/Scripts/bootstrap.min.js"></script>

    <script src="~/SocialWall/js/collapse.js"></script>
    <script src="~/SocialWall/js/jquery.plugins.js"></script>
    <script src="~/SocialWall/js/jquery.site.js"></script>
    <script src="~/SocialWall/js/jquery.social.stream.1.5.13.js"></script>
    <script src="~/SocialWall/js/jquery.social.stream.wall.1.6.js"></script>

    <link href="~/SocialWall/css/dcsns_dark.css" rel="stylesheet" media="all" />
    @*<script src="../node_modules/zone.js/dist/zone.js"></script>
        <script src="../node_modules/systemjs/dist/system.src.js"></script>*@
    @*<script src="~/dist/Scripts/jquery.signalR-2.3.0.js"></script>
        <script src="~/dist/Scripts/jquery.signalR-2.3.0.min.js"></script>*@
    <script src="~/dist/Scripts/signalr.min.js"></script>
    @*<script src="/SignalR/hubs"></script>*@
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)

    <script src="~/dist/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    @*<script src="~/dist/Theme/vendor/chart.js/Chart.min.js"></script>*@
    <script src="~/dist/Theme/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/dist/Theme/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/dist/Theme/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="~/dist/Theme/js/sb-admin-datatables.min.js"></script>
</body>
</html>
